import sys
import subprocess
from dotenv import load_dotenv

load_dotenv(override=True)


def run_robot():
    cmd = [
        {% if not use_dev_containers %}"uv", "run", {% endif %}"robot",
        "-d", "output/logs",
        "-v", "G_EXAMPLE_VARIABLE:hello world",
        "tasks.robot"
    ]

    try:
        subprocess.run(cmd, check=True)
    except subprocess.CalledProcessError:
        sys.exit(1)


if __name__ == "__main__":
    run_robot()
