import sys
import subprocess


def run_robot():
    cmd = [
        {% if not use_dev_containers %}"uv", "run", {% endif %}"robot",
        "-d", "output/logs",
        "-V", "variables/user.py",
        "tasks.robot"
    ]

    try:
        subprocess.run(cmd, check=True)
    except subprocess.CalledProcessError:
        sys.exit(1)
    except FileNotFoundError:
        print("Ошибка: Файл tasks.robot или variables/user.py не найден!")
        sys.exit(1)


if __name__ == "__main__":
    run_robot()
